<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"type="text/css" href="/styles/style.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title>Error 500</title>
</head>
<body>
  <main id="app">
    <div class="error">
      <h1>Something went wrong!</h1>
      <p>Please try again later!</p>
      <p class="error-btn"><a href="/">Go home</a></p>
    </div>
  </main>
  <script type="module" src="/js/favorite.js" defer></script>
</body>
</html>