<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"type="text/css" href="/styles/style.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title><%= title  %></title>
</head>
<body>
  <%- include('header') %>
  <main id="app">
    <section class="container">
      <% if (articles.length === 0) { %>
        <div>There is no any favorite articles yet.</div>
      <% } else { %>
        <%- include('articles', { category, articles }) %>
      <% } %>
    </section>
  </main>
  <script type="module" src="/js/index.js" defer></script>
</body>
</html>