<header class="header">
  <nav class="header-category">
    <a href="/" data-path="best">HOME</a>
    <a href="/life" data-path="life">라이프</a>
    <a href="/food" data-path="food">푸드</a>
    <a href="/travel" data-path="travel">여행</a>
    <a href="/culture" data-path="culture">컬처</a>
    <a href="/favs" data-path="favs">즐겨찾기</a>
  </nav>
</header>